@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  font-size: 10px;

  --sat:constant(safe-area-inset-top);
  --sat:env(safe-area-inset-top);

  --sab:constant(safe-area-inset-bottom);
  --sab:env(safe-area-inset-bottom);

  --sar:constant(safe-area-inset-right);
  --sar:env(safe-area-inset-right);

  --sal:constant(safe-area-inset-left);
  --sal:env(safe-area-inset-left);

  --pad: 7%;
}

html, body, #wrap { width: 100%; min-height: var(--vh); }
* { box-sizing: border-box; }
html { overscroll-behavior-y: none; }
body {
  color: #26282c;
  font-size: 1.6rem;
  font-weight: 500;
  -webkit-text-size-adjust: none;
  word-break: break-all;
  line-height: 1.437;
  touch-action: pan-x pan-y;
  background: #fff;
}
body,dd,dl,dt,ul,ol,li,p,fieldset,form,input,textarea,select,button,table,legend,th,td,h1,h2,h3,h4,h5,h6 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: 400;
  font-family: 'Pretendard', "Apple SD Gothic Neo", sans-serif, Arial, Helvetica, sans-serif;
  letter-spacing: -0.025em;
  /* outline:none; */
}
article,aside,footer,header,nav,main,menu,section,summary,details,hgroup,figure,figcaption {display:block;}
table {table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0;}
legend, caption {position:absolute; clip:rect(0 0 0 0); clip-path:inset(50%); width:1px; height:1px; margin:-1px; padding:0; border:0; overflow:hidden; white-space:nowrap;}
ol,ul {list-style:none;}
em,address,caption,cite,code {font-weight:400; font-style:normal;}
img,fieldset,iframe {border:0;}
img {width:100%; height:auto; vertical-align:top;}
a {display:inline-block; color:inherit; text-decoration:none; /*outline:none;*/}
a:active, a:hover {text-decoration:none;}

strong,h1,h2,h3 {font-weight:700;}
button {background-color:transparent; color:inherit; cursor:pointer;}
button:hover {color:inherit;}
label{cursor:pointer;}
input, select, textarea, button {border:0; border-radius:0; -webkit-appearance:none; appearance:none;}

input::placeholder,
textarea::placeholder {opacity:1; color:#999;}

input[type="password"]:not(:placeholder-shown){font-family: 'pass';}

input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}
input[type=date]::-webkit-inner-spin-button {display:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator {display:none;}
input[type=number] {-moz-appearance:textform;}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background:rgba(33,122,244,.03); }
::-webkit-scrollbar-thumb { background:rgba(0,0,0,.2); border-radius: 10px; }

.blind, .hidden { position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; padding:0; border:0; overflow:hidden; white-space:nowrap;}