@charset "utf-8";

@media only screen and (max-width:1600px) {
  :root {
    --pad: 6%;
  }

  .ttl-area .ttl { font-size: 70px; }
  .ttl-area .ttl.ttl-l { font-size: 70px; }

  #header h1,
  #header #aside_button { top: 90px; }

  .section-slogan .slogan-ttl h3 { font-size: 30px; }
  .section-slogan .slogan-ttl p { font-size: 20px; margin-top: 20px; }

  .section-slogan .visual-slider-item .thumbnail img { width: 100%; }
  .section-slogan .visual-slider-dots { right: 0; width: 53%; }

}


@media only screen and (max-width:1200px) {

  #header h1,
  #header #aside_button { top: 70px; }

  .ttl-area .ttl { font-size: 60px; }
  .ttl-area .ttl.ttl-l { font-size: 60px; }


  .section-what .section-inner { padding-left: var(--pad); padding-right: var(--pad); }
  .section-what .what-tabs li a { font-size: 30px; }

  .section-members .section-inner { padding-left: var(--pad); padding-right: var(--pad); }
  .section-members .ttl-area { max-width: inherit; }

  .section-partners .logo-area { flex: 1 1 30%; }

}



@media only screen and (max-width:1024px) {

  :root {
    --pad: 100px;
  }

  body {
    font-size: 1.3rem;
  }

  body,dd,dl,dt,ul,ol,li,p,fieldset,form,input,textarea,select,button,table,legend,th,td,h1,h2,h3,h4,h5,h6 {
    letter-spacing: -0.037em;
  }



  .br_pc,
  .img_pc { display: none; }
  .br_mo,
  .img_mo { display: block; }

  .scrolldown { left: 50%; bottom: 30px; transform: translate3d(-50%, -50%, 0); }
  #scrolldown_button { width: 30px; height: 30px; }

  .ttl-area .ttl-preline { font-size: 13px; }
  .ttl-area .ttl { font-size: 40px; }
  .ttl-area .ttl.ttl-l { font-size: 40px; }
  .ttl-area .desc { font-size: 14px; }
  .ttl-area .desc-l { font-size: 18px; }


  #header h1,
  #header #aside_button { top: 30px; }

  #aside { display: block; background: #1E1E1E; padding-top: 180px }
  #aside .inner { padding: 0 var(--pad); }

  #aside .aside-copy { position: absolute; left: 0; bottom: 0; display: block; width: 100%; padding: 0 0 30px; background-color: transparent; }

  #aside .aside-nav { display: block; height: 100%; background-color: #fff; }
  #aside .aside-nav ul { align-items: flex-start; padding-top: 50px; gap: 60px; }
  #aside .aside-nav ul li a { font-size: 28px; }


  /* aside open */
  .aside-open #header #aside_button.active::before,
  .aside-open #header #aside_button.active::after { background: #fff; }



  #fullpage .section,
  #fullpage .fp-overflow,
  .section-inner { height: auto; }
  .section-inner.v-center { display: inherit; align-items: inherit; }

  

  /* slogan */
  .section-slogan { padding-top: 120px; }
  .section-slogan .slogan-ttl { position: inherit; left: inherit; top: inherit; }
  .section-slogan .slogan-ttl h3 { font-size: 15px; }
  .section-slogan .slogan-ttl p { font-size: 13px; margin-top: 10px; }
  .section-slogan .slogan-body .slick-slider { margin-right: 0; margin-top: 40px; }
  .section-slogan .visual-slider-item { flex-direction: column; }
  .section-slogan .visual-slider-item .ttl-area { order: 2; margin-top: 56px; }
  .section-slogan .visual-slider-item .ttl-area .desc { padding-top: 26px; }
  .section-slogan .visual-slider-item .thumbnail { flex: 1 1 100%; width: 100%; max-width: 100%; }
  .section-slogan .visual-slider-item .thumbnail img { aspect-ratio: 4 / 3; width: 100%; }
  .section-slogan .visual-slider-dots { left: 0; right: initial; bottom: 210px; width: 100%; max-width: 100%; padding: 0; }
  .section-slogan .visual-slider-dots .slick-dots li button { height: 2px; }
  .section-slogan .slide-pagination-area { position: absolute; left: 0; top: 50%; right: initial; width: 100%; padding-top: 0; transform: translate3d(0, -70px, 0); }
  .section-slogan .slide-pagination-area .slide-pagination { display: none; }
  .section-slogan .slide-pagination-area .slide-prev { position: absolute; left: 10px; top: 0; }
  .section-slogan .slide-pagination-area .slide-next { position: absolute; right: 10px; top: 0; }
 
  
  

  /* what we do */
  .section-what { padding-top: 246px; padding-bottom: 50px; }
  .section-what .what-contents { display: block; padding-top: 46px; }
  .section-what .what-tabs { gap: 0; }
  .section-what .what-tabs li a { height: 112px; line-height: 112px; font-size: 24px; color: #222; margin-left: calc(var(--pad) * -1); margin-right: calc(var(--pad) * -1); padding-left: var(--pad); padding-right: var(--pad); }
  .section-what .what-tabs li.active a { background: #ededed; }
  .section-what .what-panels { display: none; }

  /* members */
  .section-members { padding-top: 130px; padding-bottom: 200px; }
  .section-members .ttl-area .desc { padding-top: 20px; padding-left: 0; }
  .section-members .ttl-area .desc-l { padding-top: 46px; }
  .section-members .members-list { flex-direction: column; align-items: center; gap: 50px; padding-top: 50px; }

  /* partners */
  .section-partners { }
  .section-partners .partners-tabs { width: 100%; display: flex; align-items: center; padding-left: var(--pad); padding-right: var(--pad); }
  .section-partners .partners-tabs li { flex: 1 1 50%; }
  .section-partners .partners-tabs li + li { margin-left: -1px; }
  .section-partners .partners-tabs li a { display: flex; align-items: center; justify-content: center; height: 50px; color: #898989; border: 1px solid #979797; }
  .section-partners .partners-tabs li.active a { background: #ededed; color: #555; }
  .section-partners .partners-slider { padding-top: 60px; }
  .section-partners .partners-slider-item .inner { display: block; padding: 0; }
  .section-partners .ttl-area { padding-left: var(--pad); padding-right: var(--pad); }
  .section-partners .ttl-area .desc { padding-top: 46px; }
  .section-partners .ttl-area .btn-area { display: none; }

  .section-partners .logo-area { margin-top: 50px; padding-left: 0; padding-right: 0; aspect-ratio: 1 / 1; }
  .section-partners .logo-area img { width: 50%; max-width: 140px; margin: 0 auto; }

  .section-partners .clients_bg { margin-top: 30px; aspect-ratio: 6 / 7; }

  .section-partners .slide-pagination-area { display: none; }




  /* contact */
  .section-contact { padding-top: 130px; background: #fff; }
  .section-contact .section-inner { padding-left: 0; padding-right: 0; }
  .section-contact .contact-body { display: block; }
  .section-contact .ttl-area { max-width: 100%; padding-left: var(--pad); padding-right: var(--pad); }
  .section-contact .content-area { max-width: 100%; background: #eaeaea; padding: 72px var(--pad) 76px; margin-top: 46px; }





  /* sub - member */
  .members-slides-wrap { padding-top: 130px; }
  .members-head { display: block; }
  .members-slides-wrap .btn_back { width: 40px; height: 40px; background-size: 24px; }

  .members-slider { margin-top: 40px; }
  .members-slide-inner { height: auto; flex-direction: column; }
  .members-slide-inner .photo { flex: 1 1 100%; width: 100%; }
  .members-slide-inner .photo .img_mo { width: 100%; }
  .members-slide-inner .profile { flex: 1 1 100%; width: 100%; border-right: 0 none; padding-bottom: 100px; }
  .members-slide-inner .profile .inner { padding: 0 var(--pad) 0; }
  .members-slide-inner .profile .btn_back { display: none; }
  .members-slide-inner .profile .name { font-size: 24px; margin-top: 70px; }
  .members-slide-inner .profile-data { margin-top: 30px; }
  .members-slide-inner .profile-data + .profile-data { margin-top: 30px; }
  .members-slide-inner .profile-data dt { font-size: 18px; }
  .members-slide-inner .profile-data dd { font-size: 14px; }

  .members-slider-dots { position: absolute; left: 0; top: 50px; display: block; width: 100%; padding-left: var(--pad); padding-right: var(--pad); }

  .members-slides-wrap .slide-pagination-area { display: none; }

}



@media only screen and (max-width:768px) {
  :root {
    --pad: 26px;
  }

  #header h1 a { width: 100px; }

  .members-slides-wrap { padding-top: 100px; }

}



@media only screen and (max-width:480px) {

  .section-slogan .visual-slider-dots { bottom: 230px; }
}



@media only screen and (max-width:360px) {

}



@media only screen and (max-width:320px) {
  
}



@media only screen and (max-width:280px) {
  
}