@charset "utf-8";
/* 공통 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
   --main-color- : #F9DF2F;
}


*{color:#111;}
body, input[type=text], textarea{font:400 18px 'Pretendard',  'Malgun Gothic', Dotum, Arial, Helvetica, sans-serif; color:#222; letter-spacing:-0.020em; min-width:320px;/* max-width:1920px; */line-height:1.2}
body, html, p, div, ul, li , h1, h2, h3, h4, h5, h6, span,br, dl, dt, dd{padding:0; margin:0;}
h1, h2, h3, h4, h5{font-weight:400;}
a{text-decoration:none; }
a, img{border:none; vertical-align:middle;}
/* a:hover{cursor:none;} */
ul, li{list-style:none;}
img{max-width:100%;}

body{background-color:#fff;    margin: 0 auto;}

.center_wrap{/* width:1500px; */ margin:0 auto; position:relative;}
input[type=text]{border:none;min-width:auto;height:42px;line-height:40px; padding:0 10px 0 20px; box-sizing:border-box; vertical-align:middle;outline:none;
margin-bottom:10px;background:#272727;border-radius:5px;font-size:0.95em;font-weight:500;width:100%;color:#fff}
/* input[type=button]{vertical-align:middle;cursor:pointer;outline:none} */
input::placeholder {color:#767676}
select{border: 1px solid #dbdbdb;height: 42px;line-height: 40px;padding: 0 10px;box-sizing: border-box;vertical-align: middle;outline: none;
margin-bottom: 0px;text-indent: 15px;font-size: 14px;width: 400px;font-weight: 500;font-family: 'Noto Sans KR';appearance: none;background: #1A1A1A url(../img/select_arrow.png) no-repeat 95% 50%/10px auto;color:#fff;border-radius: 10px;font-family: 'KoPub Dotum'}
table{border-collapse:collapse; width:100%;}
textarea{width: 100%;max-width: 100%;min-width: 100%;padding: 10px;box-sizing: border-box;border: 0px solid #e9e9e9;border-radius: 5px;min-height: 100px;max-height: 100px;outline: none;background: #272727;padding-left:20px;font-size:14px;}
textarea::placeholder {color:#767676;}
button {
  -webkit-appearance: none;-moz-appearance: none;appearance: none; margin: 0;font-family: "Noto Sans KR", sans-serif;  font-size: 1rem;text-align: center;text-decoration: none;display: inline-block;width: auto;cursor:pointer;border: none;
  box-sizing: border-box; max-width:400px;  height: 40px;  background-color: ;  color: #222;  text-align: center;  font-weight: normal;  font-weight: 500;margin: 20px auto 0;border-radius:5px;line-height:1.3;
}

.layer-bg { display:none;position:fixed;width:100%;height:100%;top:0;left:0;z-index:11;background-color:rgba(0,0,0,.6)}
.center_wrap{ padding:0 5%;}
.mobile{display:none}


  

.go_top{position: fixed;bottom: 20px;border-radius: 50%;background:var(--main-color-);padding:10px;
z-index: 20;right: 19px;width: 50px;height: 50px; line-height: 1.5;text-align: center;font-weight: bold;font-size: 11px; color: #fff;padding-top:7px;}

/* 레이어팝업공통사용 */
.layer-pop { border-radius:20px;display:none;background:#fff;position:fixed;left:50%;margin-left:-300px;;transform:none;top:50%;transform: translateY(-50%);z-index:12;width:600px;box-sizing:border-box;
max-height:100%;font-size:16px;;text-align:left;font-size:15px;padding-bottom:60px;}
.layer-pop .layer_inner{padding: 15px;;margin-top: 60px;height: calc(100vh - 170px);margin-bottom: 10px;}
.layer-pop.h_auto{min-height:auto;}
.layer-pop.h_auto .con{padding-bottom:0}
.layer-pop.h_auto .layer_inner{height:auto;}
.layer-pop .txt{text-align:Center; font-size:21px;font-weight:600}


@media only screen and (max-width: 768px) {
.center_wrap{ padding:0 5%;}
.pc{display:none !important;}
.mobile{display:block !important;}
.layer-pop{width:80%;left:10%;margin-left:0;}

}
